    .container-grafica{
        margin: 40px;
    }
  .rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    
    background: rgb(245, 244, 244);
    color: rgb(0, 0, 0);
    width: 400px;
    height: 400px;
  
    /* Basic style for the text */
    font-size: 100px;
    line-height: 1;
    /* background: conic-gradient(rgb(26, 94, 189) 50%, transparent 0 100%) */
  }.rating p{
    z-index: 3;
  }
  /* Rating circle content */
  .rating span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index:2;
  }
  
  /* Bar mask, creates an inner circle with the same color as thee background */
  .rating::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background:rgb(220, 226, 220);
    border-radius: inherit;
    z-index: 1;
  }
  

  /* Classes to give different colors to ratings, based on their score */
  .rating.good {
    background: var(--rating-color-good);
    color: var(--rating-color-good);
  }
  
  .rating.meh {
    background: var(--rating-color-meh);
    color: var(--rating-color-meh);
  }
  
  .rating.bad {
    background: var(--rating-color-bad);
    color: var(--rating-color-bad);
  }